
body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: black;
    color: white;
}

#toggleBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    
}