#id
{
text-align: center;
font-size: 40px;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#id1
{
    text-align: center;
    font-size: 20px;
}
header{
                background-color: lightseagreen;
                position: sticky;
                top: 0;
                z-index: 1;
                width: 100%;
            
            }
#h
{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
   
}
#navbar{
                    list-style-type: none;
                    background-color: teal;
                    padding-left: 0px;
                    padding-right: 0px;
                    margin: 0px;
                    overflow:hidden;
            }
a{
                color: black;
                text-decoration: none;
                padding: 15px;
                display: block;
                text-align: center;
                
        }
li{
    float: left;

    }
       