#iphone, #nokia,#vivo 
{
    width: 600px;
    height: 500px;
    display: inline-block;
    text-align: center;
    outline: olive solid 4px;
}
img{
    height: 300px;
    width:400px ;
}
#iphone
{
    border: 2px solid black;
    padding: 10px;
    background-color: lightblue;
}
#nokia
{
    border: 2px solid black;
    padding: 10px;
    background-color: lightgreen;
}
#vivo
{
    border: 2px solid black;
    padding: 10px;
    background-color: lightpink;
}
#vivo :hover
{
 outline: red solid 4px;   
}
#iphone :hover
{
 outline: red solid 4px;   
}
#nokia :hover
{
 outline: red solid 4px;   
}