#layer1
{
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
}
#layer2
{
    background-color: green;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 2;
}
#layer3
{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 110px;
    left: 110px;
    z-index: 3;
}