* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
}
body {
    background-color: whitesmoke;
    line-height: 1.6;
    padding: 20px;
}
.photo img {
    width: 200px;
    height: auto;
    border-radius: 50px;
   
}